body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/032/169/846/original/cartoon-comic-background-pop-art-red-comics-book-cartoon-comic-background-with-dot-pattern-halftone-abstract-halftone-illustration-vintage-backdrop-for-comic-superhero-text-speech-bubble-vector.jpg);
    background-size: cover;
    background-attachment: fixed;

    .titolo {
        text-shadow: 1px 1px 5px yellow;
    }

    .fumetto {
        background-color: transparent;
    }

    form {
        background-color: rgba(255, 255, 255, 0.45);
        padding: 10px;
        border-radius: 2%;

        small {
            // text-shadow: -2px 1px 0px rgba(226, 203, 9, 1);
            color: rgb(192, 0, 0);

        }
    }
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border: none;
}
